/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font-family, sans-serif);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

.section-size {
  margin: 0 auto;
  max-inline-size: var(--size);
}

.header {
  margin-block: 100px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(120px, 15vi, 136px);
  background-color: var(--bg-color);
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-family: var(--accent-font-family, fantasy);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  margin-block-end: 25px;
  font-family: var(--accent-font-family, fantasy);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 14px;
  margin-block-end: 25px;
}

.theme-menu__item {
  line-height: 13px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  inset-inline-start: 9px;
}

.theme-menu__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  opacity: 60%;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inset-block-end: -2px;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: menu-button 0.5s ease-in-out alternate infinite;
  inset-inline-start: -20px;
  inset-block-start: 0;
}

.card {
  margin-block-end: 50px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card_title {
  border-block-end: 2px solid var(--accent-color);
  padding: 3px 10px;
  font-family: var(--main-font-family, sans-serif);
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight);
}

.card_picture-container {
  position: relative;
}

.card_picture-container_label {
  position: absolute;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: var(--bg-color) 0.5px 0, var(--bg-color) 0 0.5px,
    var(--bg-color) -0.5px 0, var(--bg-color) 0 -0.5px;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card_picture-container_label {
    text-shadow: none;
    -webkit-text-stroke: 0.5px var(--bg-color);
    text-stroke: 0.5px var(--bg-color);
  }
}

.card_image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.filter-blur {
  object-position: 98%;
  filter: blur(2px);
}

.brightness-grayscale {
  filter: brightness(125%) grayscale(75%);
}

.contrast {
  filter: contrast(150%);
}

.hue-rotate {
  filter: hue-rotate(70deg);
}

.sepia {
  filter: sepia(100%);
}

.grayscale {
  filter: grayscale(1);
}

.brightness-contrast {
  filter: contrast(150%) brightness(125%);
}

.invert {
  filter: invert(70%);
}

.card_content {
  border-block-start: 2px solid var(--accent-color);
  padding: 25px;
  line-height: 21px;
}

.card_paragraph:not(:last-of-type) {
  margin-block-end: 27px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 10px 37px;
  box-shadow: transparent 2px 2px 0px;
  line-height: 14px;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  max-block-size: 39px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: var(--accent-color) 2px 2px;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inset-inline-start: 0;
  inset-block-start: 0;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  mix-blend-mode: difference;
}

.card_button {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding-block-start: 25px;
}

.card__like-button {
  padding: 0;
  inline-size: 130px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.save-for-future {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  padding: 15px 20px;
  background-color: var(--bg-color);
  min-block-size: 55px;
}

.floppy {
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.dialog {
  border: 2px solid var(--accent-color);
  padding: 30px;
  background-color: var(--bg-color);
  max-inline-size: 353px;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  align-items: center;
  gap: 30px 20px;
}

.dialog_title {
  color: var(--accent-color);
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  white-space: wrap;
}

.dialog_form {
  grid-column: 1/3;
  align-self: end;
}

.dialog_button {
  text-transform: uppercase;
  inline-size: 100%;
}

@media (width <= 375px) {
  :root {
    --size: 100vi;
  }

  .card_picture-container_label {
    inset-inline-end: 13px;
  }

  .save-for-future {
    min-block-size: 84px;
    flex-direction: column;
  }

  .floppy {
    height: 28px;
    width: 28px;
  }

  .dialog {
    padding: 30px 42px;
  }
}
